/vendor/
/node_modules/
.env
.env.*
!.env.example
/storage/*.key
/public/storage
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/*.log
.phpunit.result.cache
.idea/
.vscode/
.DS_Store
Homestead.json
Homestead.yaml
*.sqlite
*.sqlite-journal
